#include <windows.h>
#include "resource.h"

LANGUAGE 0x00, 0x00

300 WAVE "WAVE300_1.wav"
301 WAVE "WAVE301_1.wav"
302 WAVE "WAVE302_1.wav"
303 WAVE "WAVE303_1.wav"
304 WAVE "WAVE304_1.wav"
305 WAVE "WAVE305_1.wav"
306 WAVE "WAVE306_1.wav"
307 WAVE "WAVE307_1.wav"
308 WAVE "WAVE308_1.wav"

201 BITMAP "BITMAP201_1.bmp"
202 BITMAP "BITMAP202_1.bmp"
203 BITMAP "BITMAP203_1.bmp"
204 BITMAP "BITMAP204_1.bmp"
208 BITMAP "BITMAP208_1.bmp"
209 BITMAP "BITMAP209_1.bmp"
210 BITMAP "BITMAP210_1.bmp"
211 BITMAP "BITMAP211_1.bmp"
212 BITMAP "BITMAP212_1.bmp"
213 BITMAP "BITMAP213_1.bmp"
214 BITMAP "BITMAP214_1.bmp"
215 BITMAP "BITMAP215_1.bmp"
216 BITMAP "BITMAP216_1.bmp"
217 BITMAP "BITMAP217_1.bmp"
218 BITMAP "BITMAP218_1.bmp"
219 BITMAP "BITMAP219_1.bmp"
220 BITMAP "BITMAP220_1.bmp"
221 BITMAP "BITMAP221_1.bmp"
222 BITMAP "BITMAP222_1.bmp"
223 BITMAP "BITMAP223_1.bmp"

400 MENU
LANGUAGE 0x04, 0x02
{
  POPUP "文件(&F)"
  {
    MENUITEM "新局面(&R)",  401
    MENUITEM "电脑走棋(&B)",  402
    MENUITEM "单机练习(&T)",  403
    MENUITEM SEPARATOR
    MENUITEM "标准(&S)",  404
    MENUITEM "让虎攻防(&H)",  405
    MENUITEM "从剪贴板输入FEN(&I)",  406
    MENUITEM "输出FEN至剪贴板(&O)",  409
    MENUITEM SEPARATOR
    MENUITEM "悔棋(&U)",  407
    MENUITEM "虚一手(&P)",  411
    MENUITEM SEPARATOR
    MENUITEM "翻转棋盘(&F)",  412
    MENUITEM "后台思考(&G)",  413
    MENUITEM "显示后台分析视窗(&V)",  414
    MENUITEM SEPARATOR
    MENUITEM "退出(&X)",  408
  }
}

100 ICON "ICON100_1.ico"

IDD_PONDER_DIALOG DIALOG 0, 0, 260, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "后台分析"
FONT 9, "MS Shell Dlg"
{
  EDITTEXT IDC_PONDER_EDIT, 10, 10, 240, 80, ES_MULTILINE | ES_READONLY | WS_VSCROLL
}

1 VERSIONINFO
FILEVERSION 0,0,0,0
PRODUCTVERSION 0,0,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
BLOCK "040904b0"
{
VALUE "Comments", "AI program for Animalcraft"
VALUE "CompanyName", "Chen Luhan Company"
VALUE "FileDescription", "AI program for Animalcraft"
VALUE "FileVersion", "1.7"
VALUE "InternalName", "AnimalcraftAI"
VALUE "LegalCopyright", "(C) 2020-2023 Chen Luhan Company"
VALUE "LegalTrademarks", "AnimalcraftAI"
VALUE "OriginalFilename", "AnimalcraftAI.EXE"
VALUE "ProductName", "AnimalcraftAI"
VALUE "ProductVersion", "1.7"
}
}

BLOCK "VarFileInfo"
{
VALUE "Translation", 0x0409 0x04B0  
}
}
